<p>triagebutt works!</p>
<span>{{c}}</span>
<button (click)="handleColor('Rosso')">Rosso</button>
<button (click)="handleColor('Arancione')">Arancione</button>
<button (click)="handleColor('Azzurro')">Azzurro</button>
<button (click)="handleColor('Verde')">Verde</button>
<button (click)="handleColor('Bianco')">Bianco</button>