
    <td> {{user.id}}</td>
    <td>{{user.email}}</td>
    <!--Utilizzo | per la pipe, dove la proprietà name, dell'oggetto user
    deve essere passata in UPPERCASE dalla pipe
    Esse si utilizzano nell'ambito dell'interpolazione-->
    <td>{{user.name | uppercase }}</td>
    <button (click)="handleRemove()">Delete</button>

