
<app-hero style="float: left; height: 10%; width: 10%;" [hero]="hero1" (attack)="handleAttack($event)" [color]="'pink'"></app-hero>
<app-hero style="float: right; height: 5%; width: 10%; margin-right: 30%;" [hero]="hero2" (attack)="handleAttack($event)" [color]="'lightgreen'"></app-hero>
<!-- 
<p></p>
<div style="background-color: brown; height: 10%; width: 10%; float: left;">
    <button (click)="handleTony(20)" style="margin-top: 100%;">At</button>
    <p>LF:{{pg1.pv}}</p>
</div>

<p style="float: right;"> </p>
<div style="background-color: rgb(132, 160, 55); height: 10%; width: 10%; float: right;">
    <button (click)="handleCap(10)" style="margin-top: 100%;">At</button>
    <p>LF:{{pg2.pv}}</p>
</div> -->
