
<h3>LOGIN!</h3>
<!-- ascoltiamo ngSubmit perchè prevede i comportamenti di default del brwoser (fa i preventDefault da solo)
dichiariamo una varibile con # e la associamo come parametro all'handleSubmit
ngForm ci serve per vedere se i campi vengono validati o meno-->
<form (ngSubmit)="handleSubmit(f)" #f="ngForm">
    <div class="form-group">
        <label for="">email</label>
<!-- serve un name nell'input, perchè name diventerà la chiave e il valore sarà un'instanza che avvolge il campo in input -->
<!-- Prendo il valore che mi serve nel campo in input, ma è una zozzata fare l'$event bindig in linea
    Utilizzerò anche un pproprety bindig [] perchè mi serve passare anche l'informazione dal tamplate al componente.
    < input type="email" name="email" (change)="email = $event.target.value" [value]='email'> 
     Questa è un implementazione a mano di un "TwoWay data bindig"-->

     <!--Sfruttiamo una sintassi che è a metà fra property e vent bindg
         che viene chiamata "banana in the box" [()].
        a sinistra ci va il nome della costante ngModel (che va a lavorare sul figlio)
        a destra ci va il nome della propietà del componente (quindi il padre)-->
        <!-- #e contiene le informazioni di tutto il campo in input tra cui la prorpietà "invalid" -->
        <!-- appforbiden è il selettore della direttiva -->
        <!-- [appForbidden] è il property binding (ovvero passo i dati dal padre al figlio)-->
     <input type="email" name="email" [(ngModel)]="email" #e="ngModel" required email [appForbidden]="['admin@gmail.com' , 'operatore@gmail.com', 'errore@gmail.com']">
    </div>

    <!-- questo messaggio di errore è legato alla proprietà email 
      perciò "se e.(invalid)="" è true il messaggio appare, però così il mio campo errore appare sia quando
    il campo è vuoto, sia quando sbaglio il campo-->
    <!-- Con questo *ngIf, gli vado a dire di mostarmi i messaggi di errore solo se il campo è 
    invalido o se è stato toccato. -->
    <!--Il doppio && non controlla tutti gli elementi, in questo caso allaprima occorrenza di "false" si blocca
    Perciò ci darà "true" solo entrambe le condizioni si sono verificate, 
    va messo prima "e.touched" perchè la seconda sarebbe sempre vera e
    se la mettessimo per prima non passebbe mai alla seconda.
    "f.submitted" ->  Proprietà per verificare se l'utente ha provato a fare il submit del form-->
    <div *ngIf="(e.touched || f.submitted) && e.invalid" class="alert alert-danger" role="alert">
      <!-- Devo verificare se quel campo in input non ha rispetto la regola di validazione
      "has error", si prende in campo una stringa, che potrebbe essere la direttiva-->
      <p *ngIf="e.hasError('required')">Campo obbligatorio</p>
      <p *ngIf="e.hasError('email')">Indirizzo email non valido</p>
      <p *ngIf="e.hasError('forbidden')">Indirizzo email non ammesso</p>
    </div>

    <div class="form-group">
        <label for="">password</label>
        <input type="password" name="password" [(ngModel)]="password" #p="ngModel" required minlength="8" [appForbidden]="['operatore' , 'password']">
        <div *ngIf="(p.touched || f.submitted) && p.invalid" class="alert alert-danger" role="alert">
          <p *ngIf="p.hasError('required')">Campo obbligatorio</p>
          <p *ngIf="p.hasError('minlength')">Password troppo corta</p>
          <p *ngIf="p.hasError('forbidden')">Password non valida</p>
        </div>

      </div>

  <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-primary"> Login </button>
      </div>
  </div>
</form>
