<!-- in questo caso, dobbiamo istanziare qui il nostro FormGroup
Dobbiamo ricordarci anche di importare (entro app.module) il reactive formModule per farlo partire -->
<form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="form-group">
        <label>Email</label>
        <!-- Sto legando questo campo in input con il formControll  -->
        <input type="text" formControlName='email'>
    </div>
<div class="alert alert-danger" *ngIf="form.get('email')?.invalid">
    <p *ngIf="email.hasError('required')">Campo obbligatorio</p>
    <p *ngIf="email.hasError('email')">Email non valida</p>  
</div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" formControlName='password'>
    </div>

    <div class="row mt-2">
        <div class="col-lg-12 text-end">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
   
<form>